<#@ template language="C#" inherits="BaseTemplate<ProjectTemplate>"#>
<#@ import namespace="SimpleCodeGenerator" #>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React App</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>

<#+
    public override string RelativeFilePath => $"Clientside/public/index.html";
#>