<#@ template language="C#" inherits="BaseTemplate<EntityTemplate>"#>
<#@ import namespace="SimpleCodeGenerator" #>
import { BaseEntity } from "./BaseEntity";

export class <#= Model.Entity.Name #> extends BaseEntity {
<#
	foreach (var attribute in Model.Entity.Attributes)
	{
#>
	<#= attribute.Name #>?: <#= attribute.Type #>;
<#
	}
#>
}

<#+
    public override string RelativeFilePath => $"Serverside/src/Models/{Model.Entity.Name}.ts";
#>