<#@ template language="C#" inherits="BaseTemplate<ProjectTemplate>"#>
<#@ import namespace="SimpleCodeGenerator" #>
export class BaseEntity {
  public Id?: string;
}

<#+
    public override string RelativeFilePath => $"Serverside/src/Models/BaseEntity.ts";
#>